.card-details {
  align-items: center;
  flex-direction: column;
  display: flex;
  text-align: center;
}

.card-details .card-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
  border-bottom: solid 1px #c8c8c8;
}

.card-details .card-detail {
  width: 20%;
  padding: 20px 30px;
  position: relative;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details .card-detail>div:nth-child(1) {
  font-size: 16px !important;
}

.card-details .card-detail>div:nth-child(2) {
  font-size: 32px !important;
}

.card-details .card-detail:not(:last-child)::after {
  height: 40px;
  display: block;
  content: '';
  border-right: 1px solid #c8c8c8;
  top: calc(50% - 20px);
  position: absolute;
  right: 0;
}

.card-details .card-eligibility {
  margin-top: 30px;
  display: flex;
  text-align: left;
  padding-bottom: 30px;
  width: 100%;
}

.card-details .card-eligibility>div:first-child {
  flex-basis: 25%
}

/* make the second cell of the card-eligibility take up as much width as possible */
.card-details .card-eligibility>div:nth-child(2) {
  flex-basis: 50%;
  font-size: 14px;
}

/* align the last cell of the card-eligibility to the right */
.card-details .card-eligibility>div:last-child {
  text-align: right;
  flex-basis: 25%;

  a {
    border-radius: 0;
    color: #fff !important;
    background: #005078 !important;
    display: table;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.25px;
    padding: 15px;
    margin: 10px auto;
    border: none;
    color: #fff !important;
    font-weight: 600;
  }
}

/* less than 768px */
@media (max-width: 768px) {
  .card-details {
    flex-direction: column;

    h2 {
      font: normal 600 20px Open Sans;
      margin-bottom: 25px;
    }
  }

  .card-details .card-details-container {
    flex-direction: column;
    gap: 5px;
  }

  .card-details .card-details-container .card-detail {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;

    >div:first-child {
      width: 50%;
      text-align: left;

      p {
        font: normal 400 14px Open Sans;

        strong {
          font-weight: 600;
        }
      }
    }

    >div:nth-child(2) {
      font-size: 24px !important;

      p {
        margin: 0;
      }
    }

    &:after {
      display: none !important;
    }

    &:first-of-type {
      border-top: solid 1px #c8c8c8;
      padding-top: 20px;
    }

    &:last-of-type {
      padding-bottom: 20px;
    }
  }

  .card-details .card-eligibility {
    flex-direction: column;
  }

}