.accordion details+details {
  margin-top: 24px;
}

.accordion details p {
  margin-bottom: 0.8em;
}

.accordion details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  box-shadow: 0 6px 19px -7px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.2s;
  background-image: url('../../icons/prev-arrow.svg');
  background-size: 25px;
  width: 25px;
  height: 25px;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-90deg);
}

.accordion details:not([open]) .accordion-item-body {
  display: none;
}

.accordion details .accordion-item-body {
  padding: 0 16px;
  font: normal 400 16px Open Sans;

  ul {
    font-size: 14px;
    color: rgb(42, 42, 42);
    list-style-type: disc;

    ul {
      padding-inline-start: 6px;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    color: #005078;
  }

  a {
    color: #005078;
  }
}

.accordion details[open] .accordion-item-body {
  border-top: 1px solid #dadada;
  background-color: var(--background-color);
}

.external-link::after {
  content: '';
  background-image: url('../../icons/open-external.svg');
  background-size: 16px;
  width: 16px;
  height: 16px;
  color: #005078;
  display: inline-block;
  top: 2px;
  position: relative;
  margin: 0 5px;
}