.offer-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 24px 30px !important;
  font: normal 400 14px 'Open Sans';
  box-sizing: border-box;
}

.offer-banner .icon {
  top: 5px;
  position: relative;
}

.offer-banner p {
  margin: 0;
}

.offer-banner a {
  &:not(:last-of-type) {
    padding-right: 10px;
  }

  background: transparent;
  color: #005078;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.875rem;
}