.cards-template {

  .section.benefit-cards-container,
  .section.two-columns-container,
  .section.card-details-container,
  .section.breadcrumbs-container,
  .section.hero-container {
    padding: 0;
    margin: 0;
  }

  .section.aeroplan-point-cards-container {
    .aeroplan-point-cards-wrapper {
      max-width: 1440px;
    }
  }

  .card-details-container,
  .section.benefit-cards-container,
  .section.two-columns-container {
    padding-bottom: 50px;
  }

  .section.card-details-container {
    padding: 30px;
  }

  .light-blue-bg.gifts .aeroplan-point-cards-wrapper {
    background-image:
      url(../../icons/td-gifts-2-estore-en.png),
      linear-gradient(to top, #ddecf5, #fff);

    background-repeat: no-repeat;
    background-position: bottom right;

    background-size: 435px, cover;

    background-position: bottom 0px right 0px, top;
  }
}