.breadcrumbs-wrapper {
  margin: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  height: 60px;
}

.breadcrumbs ul {
  padding: 0;
  list-style: none;
  margin: 0;
  max-width: 400px;
  min-width: 300px;
}

.breadcrumbs ul li {
  background-color: #fff;
  padding: 5px 20px;
  position: relative;
  z-index: 1;
}

/* make the first li item 60px high */
.breadcrumbs ul li:first-child {
  padding-top: 16px;
  padding-bottom: 15px;
}

/* include the arrow icon after the first li item */
.breadcrumbs ul li:first-child::after {
  content: '';
  position: relative;
  right: -15px;
  display: inline-block;
  transform: rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
}

.breadcrumbs ul.active li:first-child {
  border-bottom: 1px solid #e3e3e3;
}

/* for all other li items hide them */
.breadcrumbs ul li:not(:first-child) {
  display: none;
}

/* spacing for active li items, just not the first one */
.breadcrumbs ul.active li:not(:first-child) {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
}

.breadcrumbs ul.active>li:not(:first-child):hover {
  background-color: #efefef;
}

.breadcrumbs ul.active li:first-child::after {
  transform: rotate(315deg);
}

.breadcrumbs a:any-link {
  color: currentcolor;
  font-weight: 600;
  background-color: transparent;
  font-size: 16px;
  text-decoration: none;
}