.banner-wrapper {
  .banner {
    display: flex;
    align-items: center;
    max-width: 1200px;
    background-image: linear-gradient(89deg, #c3e7fd -28%, #f1f7fa 51%);
    min-height: 80px;
    box-sizing: border-box;

    p {
      margin: 0;
    }

    img {
      width: 175px;
      height: 60px;
      display: flex;
    }

    a {
      padding: 25px 20px;
      font-size: 16px;
      font-weight: 600;
      color: #005078;
      text-decoration: underline;
    }
  }

  @media (width < 768px) {
    margin-top: 70px !important;

    .banner {
      flex-direction: column;

      img {
        margin: -40px auto 0;
        max-width: 200px;
        max-height: inherit;
      }

      a {
        font-size: 14px;
      }
    }
  }
}