.banner-wrapper {

  .banner {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    background-image: linear-gradient(89deg, #c3e7fd -28%, #f1f7fa 51%);

    p {
      margin: 0;
    }

    img {
      max-width: 175px;
      max-height: 70px;
    }

    a {
      padding: 25px 20px;
      font-size: 16px;
      font-weight: 600;
      color: #005078;
      text-decoration: underline;
    }
  }
}