.credit-cards-wrapper {
  margin-top: -140px !important;
  background: #fff;
  max-width: 1200px;
  box-sizing: border-box;
  padding-top: 1em !important;
  box-shadow: 0 -6px 19px -7px rgb(0 0 0 / 20%);
}

/* 768 */
@media (width <=768px) {
  .credit-cards-wrapper {
    margin-top: -80px !important;
  }

  .credit-cards h1 {
    font: normal 300 30px Open Sans !important;
  }
}

.credit-cards.mobile {
  .mobile-cc-container {
    cursor: pointer;
  }

  .cards-wrapper {
    flex-direction: column;
    padding: 0px;
    margin-top: 0px;

    .card {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding: 5px 30px;
      border: none;
      background-color: #fff;

      a {
        font-size: 16px;
      }

      &.active {
        background-color: #f1f1f1;

        a {
          color: #c0c5c8 !important;
        }
      }

      .title {
        margin: 0px;
        min-width: unset;
        font-weight: 700;
        color: grey;
        text-transform: uppercase;
        font-size: 13px;
        text-align: left;
      }
    }
  }

  /* show the card-wrapper when the drop down is open */
  .mobile-cc-container:has(> .closed)+.cards-wrapper {
    display: none;
  }
}

.credit-cards h1 {
  text-align: center;
  margin-bottom: 30px;
  font: normal 300 36px Open Sans;
  background: transparent;
  color: #000;
}

.credit-cards .cards-wrapper {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
}

.credit-cards .card {
  border: solid 1px #f1f1f1;
  background-color: #f1f1f1;
  cursor: pointer;
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 378px;
  box-sizing: border-box;
}

.credit-cards .card.active {
  background-color: #fff;
}

.credit-cards .card .title {
  text-align: center;
  min-width: 220px;
  margin-bottom: 15px;
}

.credit-cards .card img {
  width: 180px;
  height: 118px;
  display: block;
  margin: 0 auto;
}

.credit-cards .cards-wrapper a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 14px;
  text-align: center;
  padding: 0px;
  border-bottom: none;
  text-align: center;
  margin-bottom: 15px;
  background-color: transparent;
}

.credit-cards .banner {
  background: url(../../icons/td-aeroplan-rectangle-white.svg) no-repeat center center;
  background-size: 100% auto;
  width: 340px;
  height: 60px;
  position: relative;
  margin-top: -35px;
  text-align: center;
}

.credit-cards .card.active .banner {
  background: url(../../icons/td-aeroplan-rectangle.svg) no-repeat center center;
}

.credit-cards .mobile.title {
  display: none;
}

.credit-cards .mobile-cc-container {
  display: none;
}


@media only screen and (min-width: 1024px) and (max-width: 1299px) {
  .credit-cards .cards-wrapper .card {
    padding: 20px 0px;
  }
}

/* when less than 1024px */
@media (width < 1024px) {

  .credit-cards .card {
    width: 100%;
    max-width: 100%;
  }

  .credit-cards .cc-nav {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
  }

  .credit-cards .cc-nav .mobile-cc-container {
    display: block;
    background-color: #ffffff;
    padding: 40px 40px 20px 30px;
    text-align: left;
    position: relative;
  }

  .credit-cards .mobile-cc-container .dropdown-label {
    font-size: 12px;
    line-height: 1.75;
    color: #4a4f55;
    position: absolute;
    top: 10px;
  }

  .credit-cards .mobile-cc-container .mobile-content {
    font: normal 600 18px Open Sans;
    color: #000;
  }

  .credit-cards .mobile-cc-container .dropdown-arrow {
    content: url(/icons/icon-down-arrow.svg);
    display: block;
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    float: left;
    margin-right: -20px;
    margin-top: -3px;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    float: right;
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);

    &.closed {
      transform: rotate(0deg);
    }
  }


  .credit-cards .cards-wrapper .card>div:not(.title) {
    display: none;
  }

  .credit-cards .mobile.title {
    display: block;
  }
}