.card-tabs {
  .tab-nav-container {
    padding-top: 20px;
    box-shadow: 0 -6px 19px -7px rgb(0 0 0 / 20%);
    padding: 0 0 1px 0;
  }

  h2 {
    text-align: center;
    padding: 40px 0;
    margin: 0;
  }
}

.tabs-panel {
  display: none;
}

.tabs-panel.active {
  display: block;
}

.card-tabs ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-item {
  &.active {
    background-color: white;

    .tab-item-banner {
      background: url(../../icons/td-aeroplan-rectangle.svg) no-repeat center center;
    }
  }

  height: 254px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex: 1 1 33%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 334px;
  box-sizing: border-box;

  .tab-item-title {
    text-align: center;
    min-width: 220px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }

  .tab-item-image>picture>img {
    width: 180px;
    height: 118px;
    display: block;
    margin: 0 auto;
  }

  .tab-item-banner {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: -35px;
    background: url(../../icons/td-aeroplan-rectangle-white.svg) no-repeat center center;
    background-size: 100% auto;
    width: 340px;
    height: 60px;
  }

  .tab-item-card-type {
    display: none;
  }
}