/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  --header-nav-brand-height: 28px;
  --header-nav-brand-width: 240px;
  --header-nav-height: 86px;
  --language-height: 30px;

  @media (width < 1024px) {
    --language-height: 0px;
  }

  /* if less than 900px, set the nav height to 60px */
  @media (width < 900px) {
    --header-nav-height: 80px;
  }

  /* if less than 768px then hide the brand */
  @media (width < 768px) {
    --header-nav-height: 60px;
  }

  /* fonts */
  --body-font-family: 'Open Sans',
  arial;
  --heading-font-family: roboto-condensed,
  roboto-condensed-fallback,
  sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >=900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  background-color: white;
  height: calc(var(--header-nav-height) + var(--language-height));
}



header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font: normal 300 36px "Open Sans";
  background: transparent;
  color: #000;
}

h2 {
  font: normal 600 28px "Open Sans";
  background: transparent;
  color: #000;
}

h3 {
  font: normal 600 20px "Open Sans";
  background: transparent;
  color: #000;
}

h4 {
  font: normal 300 18px "Open Sans";
  background: transparent;
  color: #000;
}

h5 {
  font: normal 400 16px "Open Sans";
  background: transparent;
  color: #000;
}

@media only screen and (width <=767px) {
  h5 {
    font: normal 400 14px "Open Sans";
  }
}

h6 {
  font-size: var(--heading-font-size-xs);
}

sup {
  font-size: 75%;
  line-height: 0;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div>div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

main>.section:not(.heros-container)>div>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
  position: relative;
}

main>.section:first-of-type {
  margin-top: 0;
}

main>.section:first-of-type,
main>.heros-container {
  margin-top: 0;
}

@media (width >=900px) {
  main>.section>div>div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.icon {
  font-size: 1.8em;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-family: 'AC Icomoon';

  &.find::after {
    content: "\e60c";
  }
}

.social-button {
  .icon-facebook::before {
    content: "\e94a";
  }

  .icon-twitter::before {
    content: "\e948";
  }

  .icon-youtube::before {
    content: "\e94b";
  }

  .icon-newfeed::before {
    content: "\e949";
  }
}

.light-blue-bg {
  background-image: linear-gradient(to top, #ddecf5, #fff);
}

.blue-bg-clouds {
  background: transparent url("../icons/bkgd-rounded-cloud.svg") no-repeat center center;
  background-position-y: bottom;
  background-size: cover;
}

.pink-bg {
  background: #f6f4f0;
}

@media (width <=767px) {

  ul,
  ol,
  dl {
    font-size: 12px;
    font-weight: 300;
    list-style: square;
    margin-top: 0;
    padding-left: 20px;
    margin-bottom: 25px;
  }
}

.page-header {
  padding: 0 32px;
  max-width: 1200px;
  margin: auto;

  background: #4A4F55;
  font-weight: 300;
  min-height: 30px;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  .language-link::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    transform: rotate(135deg);
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    top: -2px;
    position: relative;
  }

  input {
    width: 275px;
    color: #2A2A2A;
    padding-left: 10px;
  }

  .search-form {
    padding: 0 0 0 60px;
  }

  .search-form-container {
    width: 300px;
    background: #C8C8C8;
    line-height: 16px;
    margin: 2px;
    display: flex;
    align-items: flex-end;
  }

  .search-form .txt-search-box {
    box-sizing: border-box;
    font-size: 14px;
    background: transparent;
    outline: none;
    border: none;
    min-height: 30px;
    width: 275px;
    color: #2A2A2A;
    font-weight: 600;
  }

  .search-form .txt-search-box::placeholder {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    color: #2A2A2A;
    opacity: 1;
    text-transform: none;
    text-overflow: ellipsis !important;
  }

  .accessibility-link {
    font-weight: 600;
    font-size: 14px;
    padding: 0 40px;
  }

  a {
    color: white;
    font-size: 14px;
  }

  img {
    width: 20px;
    padding: 0 10px;
  }

  .icon {
    color: #2A2A2A;
    font-size: 20px;
    width: 20px;
  }
}

@media (width < 1024px) {
  .page-header {
    display: none;
  }
}

.btn-ghost {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
}

.cnd-flag {
  background-image: url("../icons/flag-ca.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  padding-right: 10px;
}