.aeroplan-point-cards-wrapper {
  padding: 0;
}

.aeroplan-point-cards>div>div>h2 {
  position: relative;
  margin-bottom: -12px;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.1) 0px -15px 19px 2px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font: normal 600 28px Open Sans;
}

.aeroplan-point-cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  grid-gap: 24px;
  justify-content: center;
}

/* less than 768px */
@media (width <=768px) {
  .aeroplan-point-cards>ul {
    display: flex;
    flex-direction: column;
  }

  .aeroplan-point-cards>ul>li {
    flex-basis: 100%;
  }
}

.aeroplan-point-cards>ul>li {
  position: relative;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  margin-bottom: 2rem;
}

.aeroplan-point-cards .cards-card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0 14px;
  padding: 1rem;
  line-height: 1.5em;
}

.aeroplan-point-cards .cards-card-image {
  opacity: 0.91;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
  overflow: initial;
  display: flex;
  justify-content: center;
  align-items: center;

  picture {
    width: 100%;
    height: 100%;
  }

  img {
    height: 100%;
    width: auto;
    /* object-fit: cover; */
    aspect-ratio: 16 / 9
  }
}

.aeroplan-point-cards .cards-card-title::after {
  content: '';
  width: 20px;
  height: 1px;
  border: solid 1px #b8a890;
  background-color: #b8a890;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.aeroplan-point-cards .cards-card-title h2 {
  font: normal 600 24px 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
}

.aeroplan-point-cards .cards-card-body {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;

  p {
    margin-bottom: 25px;
  }
}

.aeroplan-point-cards .cards-card-points {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4%;
  bottom: -30px;
  color: #fff !important;
  width: 70px;
  height: 70px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  background-color: #d8292f;
  border-radius: 50%;
  z-index: 1;
  font-weight: bold;
  font-size: 0.875rem;

  p {
    padding: 0;
    margin: 0;
  }

  @media (width <=1024px) {
    width: 60px;
    height: 60px;
  }

  @media (width <=768px) {
    width: 50px;
    height: 50px;
  }
}

.aeroplan-point-cards .cards-card-footer {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
}

.aeroplan-point-cards .cards-card-footer>div:first-child {
  width: 300px;
  height: 191px;
  margin: 0 17px 18px 0;
}

.aeroplan-point-cards .cards-card-footer img {
  width: 300px;
  height: 191px;
  margin: 0 17px 18px 0;
  object-fit: contain;
}

.aeroplan-point-cards .cards-card-footer p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  width: 435px;
}

/* less than 768px */
@media (width <=768px) {
  .aeroplan-point-cards .cards-card-footer {
    align-items: center;
    flex-direction: column;
  }

  .aeroplan-point-cards .cards-card-footer p {
    height: 300px;
    width: 100%;
  }
}

.aeroplan-point-cards .cards-card-footer-container>div:first-child::after {
  content: '';
  width: 20px;
  height: 1px;
  border: solid 1px #b8a890;
  background-color: #b8a890;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.light-blue-bg.gifts .aeroplan-point-cards-wrapper {
  background-image:
    url(../../icons/td-gifts-2-estore-en.webp),
    linear-gradient(to top, #ddecf5, #fff);

  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 435px, cover;
  background-position: bottom 0px right 0px, top;
}